# PostgreSQL container settings
POSTGRES_DB=nzheat
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT_HOST=5433

# Used when running locally on Windows
DB_HOST=localhost
DB_PORT=5433
DB_NAME=nzheat
DB_USER=postgres
DB_PASSWORD=postgres