.DS_Store


.env
.venv/
env/
venv/
__pycache__/
*.pyc

# Data
data/raw/
data/interim/
data/processed/
*.nc
*.parquet

# Logs
logs/
*.log

# Power BI local files
*.pbix
*.pbit

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.ipynb_checkpoints/

.Rhistory
.RData

daily_update.bat