numpy==1.26.4
pandas==2.2.3
geopandas==1.1.1
shapely==2.1.1
xarray==2024.9.0
requests==2.32.3
urllib3==2.2.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
python-dotenv==1.0.1
pyarrow==17.0.0
netCDF4==1.7.2
h5netcdf==1.4.1
pytest==8.3.4